<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trang Chủ</title>
  </head>
  <body>
    <h1>Xin chào, đây là trang chủ!</h1>
    <p>Chào mừng bạn đến với blog Node.js sử dụng Handlebars.</p>
  </body>
</html>